body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    width: 100%;
    

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    margin-top: 20px;
     
    
}

.header-logo img {
    width: 80px;
    height: 80px;
    margin-right: auto;
    border-radius: 50px;
    margin: 10px;
}

.links {
    margin-left: auto;
   
    
}

.links a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.hero-box {
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 100px
    
}

.herotext {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}

.herotext p {
    font-size: 18px;
    color: #e5e7eb;
}

.herotext .btn {
    padding: 25px;
    background: #3882f6;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    border: #1F2937;
    cursor: pointer;

}

.hero-box-picture img {
    border-radius: 50px;
    width: 100%;
}

.box-info-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.box-info-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}
    

.box-info img {
    height: 150px;
    width: 150px;
    border: 5px #3882f6;
    border-radius: 25px;
    width: 100%;
         
}

.box-info p {
    margin-top: 0;
    font-size: 18px;
    color: #5d5d5e;
}
    
.box-quote {
    background: #e5e7eb;
    padding: 40px;
    font-size: 36px;
    font-style: italic;
}

.box-quote .signature{
    font-weight: bold;
}

.box-signup {
    background: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 10px;
    gap: 500px;
}

.box-signup-text h3 {
    margin-bottom: 0;
}

.box-signup-text p {
    margin-top: 0;
        
}

.btn2 {
    padding: 14px 28px;
    background-color: #3882f6;
    border-radius: 25px;
    border-color: #fff;
    cursor: pointer;
    color: white;
}

.footer {
    background: #1F2937;
}

.footer p {
    color: white;
}



